.menu ul {
  background-color: #333;
  font-family: Arial;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.menu ul li {
  color: white;
  float: left;
  font-size: 16px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.menu ul li:hover {
  background-color: white;
  color: #333;
}
